@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');

:root {
    --violet: #7f00ff;
    --dimWhite: #f3f5f8;
    --darkGray: #3d535f; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body {
    overflow: hidden;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-color: var(--dimWhite);
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 80px;
    z-index: 111;
    line-height: 80px;
}

.logo {
    display: flex;
    font-size: 40px;
    font-weight: 800;
    color: #444444;
    letter-spacing: 3px;
    cursor: pointer;
    text-transform: uppercase;
}

b {
    font-size: 70px;
    color: #d17068;
}

.navitems {
    display: flex;
}

.navitems li {
    list-style: none;
    margin: 0 15px;
}

.navitems li a{
    font-size: 20px;
    color: #444444;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: capitalize;

}

.navitems li:hover a,
.links a:hover {
    color: #d17068;
}

.links a {
    font-size: 30px;
    color: #444444;
    margin: 25px 10px;
}

.wrapper {
    display: flex;
    width: 100%;
    height: calc(100vh - 80px);
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
}

.wrapper::before {
    position: absolute;
    content: '';
    height: 400px;
    width: 400px;
    border-radius: 50%;
    left: -180px;
    top: 40%;
    background: linear-gradient(270deg, #d17068, #df9b95);
    animation: animate1 4s linear infinite
}

@keyframes animate1 {
    0% {
        left: -180px;
    }

    50% {
        left: -150px;
        top: 42%;
    }
}

@keyframes animate2 {
    0% {
        left: 650px;
    }

    50% {
        left: 630px;
        top: 17%;
    }
}

.wrapper::after {
    position: absolute;
    content: '';
    height: 100px;
    width: 100px;
    border-radius: 50%;
    left: 650px;
    top: 15%;
    background: linear-gradient(270deg, #d17068, #df9b95);
    animation: animate2 4s linear infinite
}

.cols {
    width: 50%;
}

.cols0 {
    z-index: 5;
}

.topline {
    display: block;
    position: relative;
    font-size: 30px;
    letter-spacing: 5px;
    color: #444444;
}

.topline::after {
    position: absolute;
    content: '';  
    height: 4px;
    width: 40px;
    bottom: 10px;
    background-color: #d17068;
}

h1 {
    display: block;
    font-size: 5em;
    font-weight: 900;
    color: #444444;
}

.multiText {
    color: #d17068;
    text-transform: capitalize;
}

p {
    display: block;
    width: 90%;
    font-size: 1.2em;
    color: #444444;
}

.btns {
    width: 100%;
    position: relative;
    left: -5px;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    color: white;
    background-color: #444444;
    padding: 8px 14px;
    margin: 40px 5px;
    letter-spacing: 2px;
    text-transform: capitalize;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
}

button:hover {
    background-color: #d17068;
}

.imgbox {
    position: relative;
    width: 100%;
    height: 100%;
}

.imgbox img {
    position: relative;
    height: 100%;
    left: 30px;
    width: calc(130% - 80px);
    top: 210px;
    animation: animateUser 4s linear infinite;
}

@keyframes animateUser {
    0% {
        left: 0;
    }

    50% {
        left: 30px;
        top: 180px;
    }

    100% {
        left: 0;
    }
}


